@charset "UTF-8";
@import "variables", "mixins";

// 간편청구하기

// 공통 레이아웃, 공통 디자인
dl,
ul,
ol,
menu,
li {
    list-style: none;
}
.wrap {
    height: 100vh;
}

.d-f {
    display: flex;
}
.just-cont-center {
    justify-content: center;
}
.just-con-between {
    justify-content: space-between;
}
.txt-center {
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.pc {
    display: block;
}
.m {
    display: none;
}
@media (max-width: 680px) {
    .pc {
        display: none;
    }
    .m {
        display: block;
    }
}

// title
.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    &.sub-01 {
        height: 216px;
    }
}

.tit-wrap {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    .primary-title-t2 {
        display: inline-block;
        font-size: 22px;
        letter-spacing: -2px;
        font-weight: 500;
        color: #222;
    }
    .primary-sub-t2 {
        font-size: 16px;
        letter-spacing: -1px;
        font-style: normal;
        color: #666;
    }

    .btn-primary {
        display: inline-block;
        margin: -8px 0 0 5px;
        padding: 3px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        vertical-align: middle;
        font-size: 12px;
        color: #777;
    }
}
@media (max-width: 680px) {
    .tit-wrap {
        padding-bottom: 10px;
        padding-top: 60px;
        .primary-title-t2 {
            font-size: 20px;
        }
        .btn-primary {
            margin: 0;
        }
    }
}

// btn
.btn-wrap-easy {
    margin-top: 60px;
    border-top: 1px solid #e0e3e5;
    text-align: center;
    .btn- {
        display: inline-block;
        min-width: 7.82353em;
        margin: 40px 7px 0;
        padding: 12px 25px;
        font-size: 17px;
        color: #fff;
        letter-spacing: -0.05em;
        line-height: 1;
        text-align: center;
        vertical-align: top;
        border-radius: 100px;
    }
    .btn-white {
        border: 1px solid #dae1e6;
        background: $w;
        color: #bac0c6 !important;
    }
}
@media (max-width: 1074px) {
    .btn-wrap-easy {
        .btn- {
            padding: 12px 15px;
        }
    }
}

// form
.form-selectbox2 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 35px 0 20px;
    text-overflow: ellipsis;
    vertical-align: middle;
    appearance: none;
    border-radius: 5px;
    border: 1px solid #e0e3e5;
    background: #fff;
    box-shadow: none;
    outline: 0;
}

.member-menu {
    .btn- {
        width: 147px;
        height: 40px;
        margin-right: 6px;
        padding: 11px 0 0 21px;
        border-radius: 40px;
        background-repeat: no-repeat;
        background-position: 87% 53%;
        &:hover {
            text-decoration: none;
        }
        &.bg-white {
            background-color: $w;
        }
        &.bg-blue {
            background-color: $prim1;
        }
        &.c-blue {
            color: $prim1;
            background-image: url(../../static/img/easy/ico-pen-blue.png);
        }
        &.c-purple {
            color: $prim2;
            background-image: url(../../static/img/easy/ico-pen-purple.png);
        }
        &.c-white {
            color: $w;
            background-image: url(../../static/img/easy/ico-pen-white.png);
        }
    }
    a {
        &:nth-child(2)::before {
            display: none;
        }
    }
}

#easy {
    .main-visual {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 180px 0 200px;
        // height: calc(100vh - 280px);
        font-size: inherit;
        white-space: normal;
        background: url(../img/easy/bg_visual.svg) no-repeat 50% 0 / cover;
    }
    .easy-intro {
        width: 1090px;
        text-align: center;

        .tit- {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: -2px;
            text-align: center;
            color: $w;
        }
        .txt-m {
            margin-top: 10px;
            font-size: 28px;
            font-weight: 100;
            letter-spacing: -1.12px;
            text-align: center;
            color: $w;
        }
        .txt-highlighter {
            display: inline-block;
            position: relative;
            margin-top: 5px;
            font-size: 23px;
            font-weight: 100;
            letter-spacing: -1.61px;
            text-align: center;
            color: #fff;
            font-style: normal;
            span {
                position: relative;
                z-index: 2;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: -10px;
                right: -10px;
                z-index: 1;
                height: 19px;
                background-color: #6025d5;
            }
        }
        .txt-s {
            margin-top: 50px;
            font-size: 19px;
            font-weight: 100;
            letter-spacing: -1.33px;
            text-align: center;
            color: #fff;
            opacity: 0.5;
        }
        .ico-wallet {
            display: block;
            width: 66px;
            height: 66px;
            margin: 0 auto 5px;
            border: 1px solid rgba($w, 0.4);
            border-radius: 50%;
            background: url(../img/easy/ico-easyintro-06.png) no-repeat 50%;
        }
    }

    .lst-easy-goto {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        li {
            position: relative;
            width: 30%;
            min-width: 300px;
            padding: 0 30px;
            &.ico-1 a {
                &::before {
                    width: 85px;
                    background-image: url(../img/easy/ico-easyintro-01.png);
                }
                &:hover::before {
                    background-image: url(../img/easy/ico-easyintro-01-on.png);
                }
            }
            &.ico-2 a {
                &::before {
                    width: 73px;
                    background-image: url(../img/easy/ico-easyintro-02.png);
                }
                &:hover::before {
                    background-image: url(../img/easy/ico-easyintro-02-on.png);
                }
            }
            &.ico-3 a {
                &::before {
                    width: 68px;
                    background-image: url(../img/easy/ico-easyintro-03.png);
                }
                &:hover::before {
                    background-image: url(../img/easy/ico-easyintro-03-on.png);
                }
            }
            &.ico-4 a {
                &::before {
                    width: 87px;
                    background-image: url(../img/easy/ico-easyintro-04.png);
                }
                &:hover::before {
                    background-image: url(../img/easy/ico-easyintro-04-on.png);
                }
            }
            &.ico-5 a {
                &::before {
                    width: 82px;
                    background-image: url(../img/easy/ico-easyintro-05.png);
                }
                &:hover::before {
                    background-image: url(../img/easy/ico-easyintro-05-on.png);
                }
            }
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 180px;
            padding: 20px 0;
            border-radius: 12px;
            border: 1px solid $w;
            // box-shadow: 5px 5px 13px 0 rgba(76, 36, 154, 0.49);
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            color: $w;
            &:hover {
                box-shadow: 7px 7px 14px 0 rgba(0, 0, 0, 0.22);
                background-color: $w;
                color: $prim2;
                p {
                    color: $prim2;
                }
            }
            &::before {
                content: "";
                display: block;
                height: 88px;
                margin-bottom: 10px;
                background-position: 0 50%;
                background-repeat: no-repeat;
            }
            strong {
                display: block;
                font-weight: 300;
                font-size: 15px;
            }
            p {
                opacity: 0.55;
                font-size: 18px;
                font-weight: 100;
                letter-spacing: -1.26px;
                color: #fff;
            }
        }
    }
}

@media (max-width: 780px) {
    #easy {
        .main-visual {
            padding: 50px 0 30px;
        }
        .easy-intro {
            width: 100%;
            transform: scale(0.9);
            .txt-m {
                font-size: 18px;
            }
            .txt-highlighter {
                font-size: 20px;
            }
        }
        .lst-easy-goto {
            li {
                width: 50%;
                min-width: 0;
                padding: 0 8px;
            }
            a {
                p {
                    font-size: 13px;
                }
                &::before {
                    transform-origin: 50% 50%;
                    transform: scale(0.8);
                    background-position: 0 0;
                }
            }
        }
    }
}

.find-billing-wrap {
    .step-t2 {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .btn-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 41px;
        height: 41px;
        padding: 1px 0 0;
        border-radius: 50%;
        background-color: $w;
        box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #ebebeb;
        font-size: 0;
        &::before {
            display: block;
            @include posXY;
            font-family: "Line Awesome Free";
            font-weight: 900;
            font-size: 15px;
        }
    }
    .btn-prev {
        right: 0;
        &::before {
            content: "\f060";
        }
    }
    .btn-next {
        right: 0;
        &::before {
            content: "\f061";
        }
    }
    .custom_paging {
        display: inline-block;
        font-weight: 500;
        font-family: "verdana", serif;
        font-style: normal;
        margin: 0 15px;
        font-size: 16px;
        color: #666;
        line-height: 41px;
        strong {
            display: inline-block;
            font-weight: 500;
            font-size: 20px;
            color: #4a65f7;
        }
    }
}

.modal-popup {
    background-color: rgba($b, 0.5);

    .modal-container {
        width: 550px;
        min-height: 479px;
        // margin: 0 20px;
    }
    .popup-action {
        padding-top: 0;
        &.et-pos {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: auto;
        }
    }
    .modal-header {
        // padding: 28px 0;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;
        .tit- {
            display: block;
            height: 80px;
            line-height: 80px;
        }
        .txt- {
            margin: -20px 0 20px;
            font-size: 15px;
            color: #666;
        }
    }

    .alert-rule {
        width: 100%;
        max-width: none;
        .alert-content {
            margin-top: 0;
            text-align: left;
            // text-align: justify;
            font-size: 10pt;
            font-weight: 300;
        }
    }

    .txt-desc {
        margin-top: 35px;
        font-size: 15px;
        line-height: 1.67;
        letter-spacing: -0.75px;
        color: #666;
    }
    .txt-desc-s {
        font-size: 10px;
        text-align: center;
        color: #4d4d4d;
        opacity: 0.5;
    }
    .btn-certificate {
        display: block;
        width: 186px;
        height: 186px;
        margin: 26px auto;
        border-radius: 50%;
        background-color: $prim1;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.27);
        border: none;
        color: $w;
        font-size: 15px;
        &::before {
            content: "";
            display: block;
            width: 33px;
            height: 44px;
            margin: 0 auto 10px;
            background: url(../img/easy/ico-lock.png) 0 0 no-repeat;
        }
    }
    .inp-txt {
        width: 100%;
        height: 50px;
        margin-top: 16px;
        padding: 16px 20px;
        font-size: 16px;
        border: solid 1px #e0e3e5;
        background-color: #fff;
        line-height: 16px;
        letter-spacing: -0.8px;
        text-align: left;
        color: $b;
        white-space: nowrap;
        &::placeholder {
            color: #999;
        }
    }
    .tabs {
        display: flex;
        justify-content: center;
        li {
            padding: 0 20px;
            &.on {
                a {
                    color: #3c4fbc;
                }
            }
        }
        a {
            font-size: 17px;
            font-weight: 500;
            color: #989898;
        }
    }
    .tab-panel {
        text-align: center;
    }
    .img-receipt {
        margin: 10px 0;
    }
    .result-easy,
    .result-easy-graybox {
        width: 70%;
        margin: 0 auto;
    }
    .result-easy-txt {
        margin: 18px 0 10px;
        font-size: 10px;
        color: #4d4d4d;
        text-align: center;
    }
}

.sub-header {
    .txt {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        color: #fff;
    }
}

.billing-content {
    padding-bottom: 50px;
}

.find-billing-wrap {
    padding-top: 25px;
    > section:first-child {
        margin-bottom: 100px;
    }
    .find-result-wrap {
        margin-bottom: 60px;
    }
    .listview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        li {
            float: left;
            width: 18%;
            padding-bottom: 30px;
        }
        a {
            display: block;
            position: relative;
            &:hover {
                text-decoration: none;
            }
        }
        .box-insu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 116px;
            margin: 0 0 11px;
            border-radius: 8px;
            border: solid 1px #e5eaef;
            text-indent: -9999px;
            &.ico-insu-hyundai {
                background: url(../img/sub/ico-insu-hyundai.png) 50% no-repeat;
            }
            &.ico-insu-meritz {
                background: url(../img/sub/ico-insu-meritz.png) 50% no-repeat;
            }
        }
        .txt {
            display: block;
            font-size: 16px;
            line-height: 1.56;
            text-align: center;
            color: #666;
            font-style: normal;
        }
        .check-myinsu {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 4px;
            right: 4px;
            width: 70px;
            height: 27px;
            border: solid 1px #e4e6e8;
            border-radius: 27px;
            background-color: #fff;
            line-height: 27px;
            font-size: 11px;
            font-weight: bold;
            color: #222;
            &::before {
                content: "\f00c";
                display: inline-block;
                width: 17px;
                height: 17px;
                margin-right: 4px;
                border-radius: 20px;
                background-color: #4a65f7;
                font-family: "Line Awesome Free";
                font-weight: 900;
                color: $w;
                font-size: 10px;
                line-height: 1.6;
                text-align: center;
            }
        }
    }
    .form-agreement {
        padding-bottom: 0;
    }
}

@media (max-width: 1074px) {
    .find-billing-wrap {
        padding-top: 0;
        > section:first-child {
            margin-bottom: 50px;
        }
        .listview {
            li {
                width: 32%;
            }
        }
    }
}
@media (max-width: 680px) {
    .find-billing-wrap {
        .listview {
            .box-insu {
                height: 70px;
                background-size: 70% auto !important;
            }
        }
    }
}

.billing-step {
    position: relative;
    width: 420px;
    margin: 0 auto;
    .form-title2 {
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        font-weight: 500;
    }
    .form-txt {
        margin-bottom: 10px;
        font-size: 14px;
        color: #777;
    }
    .form-label {
        display: block;
    }
    .col- {
        display: flex;
        justify-content: space-between;
        > * {
            width: 49%;
        }
    }
    .form-sign {
        height: 260px;
        border: 1px solid #000;
        padding: 15px;
        box-shadow: 5px 5px 6px 0 rgba(74, 101, 247, 0.15);
        border: solid 1px #4a65f7;
        border-radius: 5px;
        background-color: #fff;
        .form-canvas {
            width: 100%;
            height: 100%;
            background-color: #f2f5f7;
            border-radius: 1px;
        }
    }
    .form-desc {
        margin-top: 20px;
        opacity: 0.66;
        font-size: 12px;
        color: #4d4d4d;
    }
    .input-file-wrap {
        position: relative;
        &.input-file-disabled {
            .label-file {
                /*  cursor: not-allowed 211022 수정; */
                border: 1px solid #e0e3e5 !important;
                background: #f7f8fa !important;
                &::after {
                    content: "파일보기";
                    background-color: #666;
                }
            }
            .input-file-name {
                display: block;
            }
        }
        .label-file {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 50px;
            padding: 0 20px;
            vertical-align: middle;
            appearance: none;
            border-radius: 5px;
            border: 1px solid #e0e3e5;
            background: #fff;
            box-shadow: none;
            outline: 0;
            cursor: pointer;
            &::after {
                content: "+ 파일추가";
                @include posY;
                right: 5px;
                display: inline-block;
                width: 75px;
                margin: auto;
                padding: 11px 10px 12px;
                font-size: 13px;
                color: #fff;
                letter-spacing: -0.05em;
                line-height: 1;
                text-align: center;
                vertical-align: middle;
                border-radius: 5px;
                border: 0;
                background: #4a65f7;
            }
        }
        .input-file2 {
            display: none;
        }
        .input-file-name {
            display: none;
            @include posY;
            left: 20px;
            font-size: 16px;
            // &::before {
            //     content: "";
            //     display: inline-block;
            //     margin-right: 15px;
            //     font-size: 16px;
            //     color: #999;
            // }
        }
    }

    .btn- {
        display: block;
        position: absolute;
        bottom: 0;
        right: -81px;
        display: inline-block;
        width: 75px;
        height: 50px;
        margin: auto;
        padding: 0 6px 0;
        font-size: 13px;
        font-weight: 300;
        color: #555;
        letter-spacing: -0.05em;
        line-height: 34px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #e0e3e5;
        box-sizing: border-box;
    }
    .btn-delete {
        background: #fff;
    }
    .btn-blue {
        display: block;
        position: absolute;
        bottom: -35px;
        right: 3px;
        font-size: 14px;
        font-weight: 500;
        color: #4a65f7;
        background-color: transparent;
        border: none;
    }
    .btn-reset {
        position: absolute;
        top: 2px;
        right: 0;
        height: 23px;
        padding: 5px 10px 7px;
        border-radius: 3px;
        border: solid 1px #cecece;
        background-color: $w;
        font-size: 12px;
        line-height: 1;
        color: #5c5c5c;
    }
    .form-error {
        &.is-pass {
            &::before {
                content: "\f00c";
            }
        }
        &::before {
            content: "\f00d";
            display: inline-block;
            margin: -1px 5px 0 0;
            font-family: "Line Awesome Free";
            font-weight: 900;
            vertical-align: middle;
        }
    }
}
@media (max-width: 680px) {
    .billing-step {
        width: 100%;
        .btn- {
            float: right;
            position: static;
            height: 26px;
            margin-top: 5px;
            line-height: 22px;
            font-size: 12px;
        }
    }
}

// 파일첨부
.input-file-wrap {
    .filebox {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 50px;
        // padding: 0 20px;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        border: 1px solid #e0e3e5;
        background: $w;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        cursor: pointer;
        .inp-upload {
            width: 80%;
            height: 100%;
            padding: 0 20px;
            vertical-align: middle;
            color: #555;
            font-size: 13px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        label {
            cursor: pointer;
        }
    }

    .inp-file {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
}

.join-form {
    border: none;
}
@media (max-width: 1074px) {
    .join-form .form-title {
        width: 100%;
    }
}

.result-easy {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    dt {
        width: 40%;
        color: #3c4fbc;
        padding: 12px 0;
        &::before {
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            margin: -3px 7px 0 0;
            background-color: #3c4fbc;
            vertical-align: middle;
        }
    }
    dd {
        width: 60%;
        padding: 12px 0;
        &::before {
            content: ":";
            display: inline-block;
            margin: -3px 7px 0 0;
            vertical-align: middle;
        }
    }
}
.result-easy-graybox {
    display: flex;
    align-items: center;
    // height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;
    border: 1px solid #e0e3e5;
    background: #f7f8fa;
    dt {
        width: 70px;
        margin-right: 20px;
        color: #999;
        font-size: 0.9rem;
    }
    dd {
        width: calc(100% - 70px);
        padding: 10px 0;
    }
}

@media (max-width: 680px) {
    .result-easy-graybox {
        padding: 0 10px;
    }
}

.billing-ending {
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
    }
    strong {
        display: block;
        margin: 25px 0 20px;
        font-size: 30px;
        font-weight: 700;
        color: #4d4d4d;
    }
    p {
        font-size: 17px;
        font-weight: 300;
        color: #4d4d4d;
    }
}
@media (max-width: 680px) {
    .billing-ending {
        transform: scale(0.85);

        strong {
            font-size: 28px;
        }
    }
}

.secondary-title-option {
    font-size: 15px;
    font-weight: 400;
    color: #222;
    &::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 10px;
        background-color: #bbb;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        margin-bottom: -4px;
        font-size: 34px;
        font-weight: 500;
        color: #4a65f7;
        // line-height: 1;
        vertical-align: bottom;
        font-family: "verdana", serif;
    }
}

.result-wrap {
    .slick-arrow {
        position: absolute;
        top: -60px;
        right: 0;
        width: 41px;
        height: 41px;
        padding: 1px 0 0;
        border-radius: 50%;
        background-color: $w;
        box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #ebebeb;
        font-size: 0;
        &::before {
            display: block;
            font-family: "Line Awesome Free";
            font-weight: 900;
            font-size: 15px;
        }
    }
    .slick-prev {
        right: 110px;
        &::before {
            content: "\f060";
        }
    }
    .slick-next {
        right: 0;
        &::before {
            content: "\f061";
        }
    }
    .custom_paging {
        position: absolute;
        top: -53px;
        right: 57px;
        font-size: 20px;
        color: #4a65f7;
        font-weight: 500;
        font-family: "verdana", serif;
        li {
            display: none;
            &.slick-active {
                display: block;
            }
            em {
                display: inline-block;
                margin-left: 5px;
                font-style: normal;
                font-size: 16px;
                color: #666;
            }
        }
    }
}

.board-list-type2 {
    margin-top: 30px;
    .board-list-header {
        .row > span {
            border-top: none;
            border-bottom-width: 2px;
        }
    }
    .btn-view {
        display: block;
        width: 67px;
        height: 36px;
        margin: 4px auto;
        padding: 8px 0;
        border-radius: 5px;
        border: none;
        background-color: #4a65f7;
        font-size: 13px;
        color: $w;
        &:hover {
            text-decoration: none;
        }
    }
}

.board-list-easy {
    display: table-row-group;
    list-style: none;
    width: 100%;

    li {
        display: table-row;

        > span {
            display: table-cell;
            padding: 10px 0 11px;
            font-size: 12px;
            color: #666;
            letter-spacing: -0.05em;
            text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid #e6e6e6;
        }
    }

    a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .no {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        color: #000;
    }
    .date {
        width: 10%;
    }
    .title {
        font-size: 15px;
        color: #000;
        overflow: hidden;
        // text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;

        .board-label {
            display: inline-block;
            position: relative;
            top: 1px;
            min-width: 3.66667em;
            margin: 0 4px 0 0;
            padding: 3px 5px 5px;
            font-size: 12px;
            font-style: normal;
            letter-spacing: -0.05em;
            line-height: 1;
            text-align: center;
            vertical-align: middle;
            border-radius: 3px;

            &.event {
                color: #4a65f7;
                border: 1px solid #4a65f7;
            }

            &.notice {
                color: #fff;
                border: 1px solid #343434;
                background: #343434;
            }
        }

        a {
            display: inline-block;
            max-width: 72.72727%;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .viewing,
    .regdate {
        font-family: "Roboto", sans-serif;
    }
}

.input-wrap-col2 {
    display: flex;
    .form-selectbox3 {
        width: 30%;
        margin-right: 5px;
    }
    .form-col2 {
        flex-grow: 1;
    }
}
@media (max-width: 1074px) {
    .input-wrap-col2 {
        .form-selectbox3 {
            width: 35%;
        }
    }
}

.input-wrap {
    .btn-lg {
        @include posY;
        right: 7px;
        z-index: 1;
    }
}

.captcha-option {
    margin-top: 0;
    .captcha-code {
        position: relative;
        width: calc(40% - 5px);
        padding: 0;
        .form-text {
            padding: 0 20px;
            text-align: left;
        }
    }
    label {
        position: relative;
        float: right;
        width: 60%;
        .form-text {
            letter-spacing: -1px;
        }
    }
    .captcha-btn {
        float: left;
        width: 20%;
    }
    .btn {
        width: auto;
    }
}
.input-captcha {
    font-size: 20px;
    font-weight: bold;
}

.form-error {
    &.is-desc {
        color: #7a7a7a;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: -1.5px;
        line-height: 1.2;
        &::before {
            content: "-";
        }
    }
    &.is-pass {
        position: relative;
        padding-left: 15px;
        &::before {
            position: absolute;
            top: 2px;
            left: 0;
        }
    }
}

.btn-lg {
    display: inline-block;
    width: 10em;
    margin: auto;
    padding: 11px 6px 12px;
    font-size: 13px;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 0;
    background: #4a65f7;
    &.dark {
        background-color: #484848;
    }
}

.form-selectbox3 {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    select {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 50px;
        padding: 0 35px 0 20px;
        text-overflow: ellipsis;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        border: 1px solid #e0e3e5;
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;

        &:focus {
            border-color: #4a65f7;
            -webkit-box-shadow: 5px 5px 6px rgba(74, 101, 247, 0.15);
            box-shadow: 5px 5px 6px rgba(74, 101, 247, 0.15);
            z-index: 1;
        }

        &.is-pass {
            border-color: #4a65f7;
            -webkit-box-shadow: 5px 5px 6px rgba(74, 101, 247, 0.15);
            box-shadow: 5px 5px 6px rgba(74, 101, 247, 0.15);
        }

        &.is-failed {
            color: #ff1717 !important;
            border: 1px solid #ff1717 !important;
            -webkit-box-shadow: 0 2px 7px rgba(252, 23, 23, 0.1);
            box-shadow: 0 2px 7px rgba(252, 23, 23, 0.1);
        }

        &:disabled {
            cursor: not-allowed;
            border: 1px solid #e0e3e5 !important;
            background: #f7f8fa !important;
        }
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        width: 29px;
        height: 7px;
        margin: auto;
        pointer-events: none;
        background: url("../img/sp_default.png") no-repeat -260px -89px;
        background-size: 334px auto;
        z-index: 1;
    }
}

.form-email {
    .btn-lg {
        width: 7em;
    }
    .form-text-p0 {
        padding: 0 20px;
    }
}

@media (max-width: 1074px) {
    .form-email {
        .input-wrap {
            .form-text {
                font-size: 14px;
            }
        }
    }
    .captcha-option .captcha-code .form-text {
        padding: 0 10px;
    }
    .input-wrap .form-text {
        padding: 0 75px 0 10px;
    }
    .form-selectbox3 {
        select {
            padding: 0 15px;
        }
    }
    .board-list-type2 {
        border-top: 1px solid #000;
    }
    .board-list-easy {
        li > span {
            width: 11%;
        }
        .title {
            width: 30%;
            a {
                display: block;
            }
        }
        .writer {
            display: table-cell;
            width: 20%;
        }
        .regdate {
            width: 20%;
        }
    }
}
@media (max-width: 680px) {
    .board-list-easy {
        display: block;
        li {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 5px 0 2px;
            border-bottom: 1px solid #e6e6e6;
            > span {
                display: block;
                padding: 5px 0 6px;
                border-bottom: none;
                white-space: nowrap;
                text-align: left;
            }
        }
        .insurance {
            width: 30%;
        }
        .title {
            width: 65%;
        }
        .writer {
            display: block;
        }
        .view {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
        }
        .date {
            width: 30%;
        }
    }
}

// body {
//     background: url(../../pc.png) -14.5% -284px no-repeat;
// }
// .wrap,
// .header,
// #content,
// .modal-container {
//     opacity: 0.6;
// }
